<div class="jumbotron row">
    <h2 class="text-center">Informações do usuário</h2>

    <hr>

    <div class="form-group col-md-4">
        <div class="form-group">
            <label>Nome:</label>
            <p>{{info.nome}}</p>
        </div>
    </div>

    <div class="form-group col-md-4">
        <div class="form-group">
            <label>Sexo:</label>
            <p>{{info.sexo}}</p>
        </div>
    </div>

    <div class="form-group col-md-4">
        <div class="form-group">
            <label>Data de Nascimento:</label>
            <p>{{info.dataNascimento}}</p>
        </div>
    </div>

    <div class="form-group col-md-4">
        <div class="form-group">
            <label>CPF:</label>
            <p>{{info.cpf}}</p>
        </div>
    </div>

    <div class="form-group col-md-4">
        <div class="form-group">
            <label>E-mail:</label>
            <p>{{info.email}}</p>
        </div>
    </div>

    <div class="form-group col-md-4">
        <div class="form-group">
            <label>Data de Cadastro:</label>
            <p>{{info.dataCadastro}}</p>
        </div>
    </div>
</div>