<!--Menu Inicial-->
<header>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <p class="navbar-brand" href="/">Bem Vindo {{usuario}}!</p>
            </div>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><i class="fa fa-home"></i> Home </a></li>
                <li><a href="#compras"><i class="fa fa-shopping-cart"></i> Minhas Compras </a></li>
                <li><a href="#endereco"><i class="fa fa-map-marker"></i> Endereços de Entrega </a></li>
                <li><a href="#info"><i class="fa fa-user"></i> Minha Conta </a></li>
            </ul>
        </div>
    </nav>
</header>